In [1]:
import quandl
from datetime import datetime
import pandas as pd

In [2]:
quandl.ApiConfig.api_key = "V2vzspYSYL8eenGuq8uF "
url = 'https://www.quandl.com/api/v3/databases/EOD/metadata?api_key=V2vzspYSYL8eenGuq8uF'

In [3]:
mydata1 = quandl.get("EOD/MSFT",collapse="monthly")
mydata1.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
1986-03-31,27.75,27.75,27.0,27.50,44700.0,0.0,1.0,0.063325,0.063325,0.061613,0.062754,12873600.0
1986-04-30,33.00,33.25,31.5,32.25,107300.0,0.0,1.0,0.075305,0.075876,0.071882,0.073594,30902400.0
1986-05-31,34.00,35.50,34.0,35.00,94000.0,0.0,1.0,0.077587,0.081010,0.077587,0.079869,27072000.0
1986-06-30,29.75,31.50,29.5,30.75,216500.0,0.0,1.0,0.067889,0.071882,0.067318,0.070171,62352000.0
1986-07-31,28.75,29.00,28.5,28.50,54300.0,0.0,1.0,0.065607,0.066177,0.065036,0.065036,15638400.0

In [4]:
Micodata = mydata1[["Open","High","Low","Close","Volume","Split"]]

In [5]:
Micodata.reset_index(inplace = True)

Micodata.head()

        Date   Open   High   Low  Close    Volume  Split
0 1986-03-31  27.75  27.75  27.0  27.50   44700.0    1.0
1 1986-04-30  33.00  33.25  31.5  32.25  107300.0    1.0
2 1986-05-31  34.00  35.50  34.0  35.00   94000.0    1.0
3 1986-06-30  29.75  31.50  29.5  30.75  216500.0    1.0
4 1986-07-31  28.75  29.00  28.5  28.50   54300.0    1.0

In [26]:
gg = []
ggN = []
for hh in Micodata["Date"]:
    
    gg.append(f"{hh.year}-{hh.month}-{hh.day}")
    ggN.append(f"{hh.year}-{hh.month}-{hh.day}")
#     print(hh.month)
# gg.remove(-1)
len(gg)
del gg[-1]
len(ggN)

391

In [27]:
Volume = []
for Vo in Micodata["Volume"]:
    Volume.append(Vo)
len(Volume)    
Close = []
for Co in Micodata["Close"]:
    Close.append(Co)
len(Close)

391

In [13]:
year = 1980

x = 0
changes = []
while x < (len(Micodata)-1):
    openV = Micodata["Open"][x]

    closeV = Micodata["Close"][x+1]
    changes.append(round((closeV-openV)/openV*100,2))

    x += 1
print(len(changes))

390

In [14]:
months = ["January","Febuary","March","April","May","June","July","August","Septemeber","October","November","December"]
year = 1986
labels = []
while year < 2018:
    for month in months:
        labels.append(str(month) + " " + str(year))
    year += 1    
labels.append("January 2018")
labels.append("Febuary 2018")
labels.append("March 2018")
labels.append("April 2018")
labels.append("May 2018")
labels.append("June 2018")
labels.append("July 2018")
labels.append("August 2018")
labels.pop(0)
labels.pop(0)

labels

['March 1986',
 'April 1986',
 'May 1986',
 'June 1986',
 'July 1986',
 'August 1986',
 'Septemeber 1986',
 'October 1986',
 'November 1986',
 'December 1986',
 'January 1987',
 'Febuary 1987',
 'March 1987',
 'April 1987',
 'May 1987',
 'June 1987',
 'July 1987',
 'August 1987',
 'Septemeber 1987',
 'October 1987',
 'November 1987',
 'December 1987',
 'January 1988',
 'Febuary 1988',
 'March 1988',
 'April 1988',
 'May 1988',
 'June 1988',
 'July 1988',
 'August 1988',
 'Septemeber 1988',
 'October 1988',
 'November 1988',
 'December 1988',
 'January 1989',
 'Febuary 1989',
 'March 1989',
 'April 1989',
 'May 1989',
 'June 1989',
 'July 1989',
 'August 1989',
 'Septemeber 1989',
 'October 1989',
 'November 1989',
 'December 1989',
 'January 1990',
 'Febuary 1990',
 'March 1990',
 'April 1990',
 'May 1990',
 'June 1990',
 'July 1990',
 'August 1990',
 'Septemeber 1990',
 'October 1990',
 'November 1990',
 'December 1990',
 'January 1991',
 'Febuary 1991',
 'March 1991',
 'April 1991',
 'May 1991',
 'June 1991',
 'July 1991',
 'August 1991',
 'Septemeber 1991',
 'October 1991',
 'November 1991',
 'December 1991',
 'January 1992',
 'Febuary 1992',
 'March 1992',
 'April 1992',
 'May 1992',
 'June 1992',
 'July 1992',
 'August 1992',
 'Septemeber 1992',
 'October 1992',
 'November 1992',
 'December 1992',
 'January 1993',
 'Febuary 1993',
 'March 1993',
 'April 1993',
 'May 1993',
 'June 1993',
 'July 1993',
 'August 1993',
 'Septemeber 1993',
 'October 1993',
 'November 1993',
 'December 1993',
 'January 1994',
 'Febuary 1994',
 'March 1994',
 'April 1994',
 'May 1994',
 'June 1994',
 'July 1994',
 'August 1994',
 'Septemeber 1994',
 'October 1994',
 'November 1994',
 'December 1994',
 'January 1995',
 'Febuary 1995',
 'March 1995',
 'April 1995',
 'May 1995',
 'June 1995',
 'July 1995',
 'August 1995',
 'Septemeber 1995',
 'October 1995',
 'November 1995',
 'December 1995',
 'January 1996',
 'Febuary 1996',
 'March 1996',
 'April 1996',
 'May 1996',
 'June 1996',
 'July 1996',
 'August 1996',
 'Septemeber 1996',
 'October 1996',
 'November 1996',
 'December 1996',
 'January 1997',
 'Febuary 1997',
 'March 1997',
 'April 1997',
 'May 1997',
 'June 1997',
 'July 1997',
 'August 1997',
 'Septemeber 1997',
 'October 1997',
 'November 1997',
 'December 1997',
 'January 1998',
 'Febuary 1998',
 'March 1998',
 'April 1998',
 'May 1998',
 'June 1998',
 'July 1998',
 'August 1998',
 'Septemeber 1998',
 'October 1998',
 'November 1998',
 'December 1998',
 'January 1999',
 'Febuary 1999',
 'March 1999',
 'April 1999',
 'May 1999',
 'June 1999',
 'July 1999',
 'August 1999',
 'Septemeber 1999',
 'October 1999',
 'November 1999',
 'December 1999',
 'January 2000',
 'Febuary 2000',
 'March 2000',
 'April 2000',
 'May 2000',
 'June 2000',
 'July 2000',
 'August 2000',
 'Septemeber 2000',
 'October 2000',
 'November 2000',
 'December 2000',
 'January 2001',
 'Febuary 2001',
 'March 2001',
 'April 2001',
 'May 2001',
 'June 2001',
 'July 2001',
 'August 2001',
 'Septemeber 2001',
 'October 2001',
 'November 2001',
 'December 2001',
 'January 2002',
 'Febuary 2002',
 'March 2002',
 'April 2002',
 'May 2002',
 'June 2002',
 'July 2002',
 'August 2002',
 'Septemeber 2002',
 'October 2002',
 'November 2002',
 'December 2002',
 'January 2003',
 'Febuary 2003',
 'March 2003',
 'April 2003',
 'May 2003',
 'June 2003',
 'July 2003',
 'August 2003',
 'Septemeber 2003',
 'October 2003',
 'November 2003',
 'December 2003',
 'January 2004',
 'Febuary 2004',
 'March 2004',
 'April 2004',
 'May 2004',
 'June 2004',
 'July 2004',
 'August 2004',
 'Septemeber 2004',
 'October 2004',
 'November 2004',
 'December 2004',
 'January 2005',
 'Febuary 2005',
 'March 2005',
 'April 2005',
 'May 2005',
 'June 2005',
 'July 2005',
 'August 2005',
 'Septemeber 2005',
 'October 2005',
 'November 2005',
 'December 2005',
 'January 2006',
 'Febuary 2006',
 'March 2006',
 'April 2006',
 'May 2006',
 'June 2006',
 'July 2006',
 'August 2006',
 'Septemeber 2006',
 'October 2006',
 'November 2006',
 'December 2006',
 'January 2007',
 'Febuary 2007',
 'March 2007',
 'April 2007',
 'May 2007',
 'June 2007',
 'July 2007',
 'August 2007',
 'Septemeber 2007',
 'October 2007',
 'November 2007',
 'December 2007',
 'January 2008',
 'Febuary 2008',
 'March 2008',
 'April 2008',
 'May 2008',
 'June 2008',
 'July 2008',
 'August 2008',
 'Septemeber 2008',
 'October 2008',
 'November 2008',
 'December 2008',
 'January 2009',
 'Febuary 2009',
 'March 2009',
 'April 2009',
 'May 2009',
 'June 2009',
 'July 2009',
 'August 2009',
 'Septemeber 2009',
 'October 2009',
 'November 2009',
 'December 2009',
 'January 2010',
 'Febuary 2010',
 'March 2010',
 'April 2010',
 'May 2010',
 'June 2010',
 'July 2010',
 'August 2010',
 'Septemeber 2010',
 'October 2010',
 'November 2010',
 'December 2010',
 'January 2011',
 'Febuary 2011',
 'March 2011',
 'April 2011',
 'May 2011',
 'June 2011',
 'July 2011',
 'August 2011',
 'Septemeber 2011',
 'October 2011',
 'November 2011',
 'December 2011',
 'January 2012',
 'Febuary 2012',
 'March 2012',
 'April 2012',
 'May 2012',
 'June 2012',
 'July 2012',
 'August 2012',
 'Septemeber 2012',
 'October 2012',
 'November 2012',
 'December 2012',
 'January 2013',
 'Febuary 2013',
 'March 2013',
 'April 2013',
 'May 2013',
 'June 2013',
 'July 2013',
 'August 2013',
 'Septemeber 2013',
 'October 2013',
 'November 2013',
 'December 2013',
 'January 2014',
 'Febuary 2014',
 'March 2014',
 'April 2014',
 'May 2014',
 'June 2014',
 'July 2014',
 'August 2014',
 'Septemeber 2014',
 'October 2014',
 'November 2014',
 'December 2014',
 'January 2015',
 'Febuary 2015',
 'March 2015',
 'April 2015',
 'May 2015',
 'June 2015',
 'July 2015',
 'August 2015',
 'Septemeber 2015',
 'October 2015',
 'November 2015',
 'December 2015',
 'January 2016',
 'Febuary 2016',
 'March 2016',
 'April 2016',
 'May 2016',
 'June 2016',
 'July 2016',
 'August 2016',
 'Septemeber 2016',
 'October 2016',
 'November 2016',
 'December 2016',
 'January 2017',
 'Febuary 2017',
 'March 2017',
 'April 2017',
 'May 2017',
 'June 2017',
 'July 2017',
 'August 2017',
 'Septemeber 2017',
 'October 2017',
 'November 2017',
 'December 2017',
 'January 2018',
 'Febuary 2018',
 'March 2018',
 'April 2018',
 'May 2018',
 'June 2018',
 'July 2018',
 'August 2018']

In [28]:
MSFT_json = {
    "numbers": changes, 
    "labels": labels,
    "Dates": gg,
    "Dates_Normal": ggN,
    "Volume": Volume, 
    "Close": Close
}

In [29]:
import pymongo

# Create connection variable
conn = 'mongodb://localhost:27017'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client.MSFT_y_y

# Drops collection if available to remove duplicates
db.msft_y_o_y.drop()

# Creates a collection in the database and insert document
db.msft_y_o_y.insert_one(
    MSFT_json
)